.bg-header-mb {
    background: url("../image/big/truck-3.jpeg");
}

.bg-2-custom-mb {
    background: url("../image/big/haus.jpeg");
}

.leistung-1 {
    background: url("../image/dinstleistung/lackierung.jpg");
}

.navbar-brand-mb {
    font-size: 1.9em;
}
.navbar-brand-left-mb {
    float: left;
    font-weight: 200;
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 20px;
    color: #ddd;
    margin: -45px 5px 15px 6px;
}



.navbar-contact-mb {
    float: right;
    font-weight: 400;
    font-size: 13px;
    color: #ddd;
    margin: 10px 5px 0px 6px;
}

.short_counter {
    font-size: 45px;
}

.counter {
    font-size: 35px;
}

.text-position-center {
    text-align: center;
}

.section_mb {
    padding: 60px 0;
}

.about_uns_time {
    font-size: 1.2em;
    font-weight: 100;
}

.img-mw350 {
    max-width: 350px;
}

.space-sm-60 {
    padding-top: 60px;
}

/* rewriting of native css */

.breakPoint {
    top: -95px; /* Abstand soll größe sein */
}

.left-padding-baner {
    float: left;
}

.right_mb {
    float: right;
}

.full{
    width: 100%;
}

div .cursor_pointer_mb {
    cursor: pointer; 
} 