.bg-header-mb {
    background: url("../image/big/car-doc-header-image.jpeg");
}

.bg-2-custom-mb {
    background: url("../image/big/car-doc-mittel-haus.jpeg");
}

.leistung-1 {
    background: url("../image/dinstleistung/lackierung_.jpg");
}

.folie-1 {
    background: url("../image/dinstleistung/folie.jpg");
}
.karoserie-1 {
    background: url("../image/dinstleistung/karoserie.jpg");
}

.navbar-brand-mb {
    font-size: 1.9em;
}
.navbar-brand-left-mb {
    float: left;
    font-weight: 200;
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 20px;
    color: #ddd;
    margin: -45px 5px 15px 6px;
}



.navbar-contact-mb {
    float: right;
    font-weight: 400;
    font-size: 13px;
    color: #ddd;
    margin: 10px 5px 0px 6px;
}

.navbar-contact-mb-2 {
    float: left;
    width: 100%;
    font-size: 15px;
}

.short_counter {
    font-size: 45px;
}

.counter {
    font-size: 35px;
}

.text-position-center {
    text-align: center;
}

.section_mb {
    padding: 60px 0;
}
.section_min_450_mb {
    min-height: 450px;
}

.font_mb {
    font-size: 1.2em;
    font-weight: 100;
}

.img-mw350 {
    max-width: 350px;
}

.space-sm-60 {
    padding-top: 60px;
}

/* rewriting of native css */

.breakPoint {
    top: -95px; /* Abstand soll größe sein */
}

.left-padding-baner {
    float: left;
}

.right_mb {
    float: right;
}

.full{
    width: 100%;
}

div .cursor_pointer_mb {
    cursor: pointer; 
} 




@media (max-width: 991px){
    .screen-md-max_none_display {
        display: none;
    }
    .navbar-brand-mb {
        font-size: 2.2em;
        margin-top: 12px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .lg-tabs li:not(:last-child):not(:nth-child(3)) {
        border-bottom: none;
    }
}

@media (min-width: 768px) {
    .lg-tabs li {
        width: 33%;
        padding: 25px 15px;
    }
    .contact {
        display: none;
    }

    
}

@media (max-width: 767px) {
    .navbar-contact {
        display: none;
    }  
    .contact {
        margin-left: 50px;
    }

    .col-md-4_fest {
        width: 33.33333333%;
        float: left;
    }
}

@media (max-width: 450px) {
    .contact {
        display: none;
    }
}