.bg-5-custom-mb {
    background: url("../image/big/truck-3.jpeg");
}

.bg-2-custom-mb {
    background: url("../image/big/haus.jpeg");
}

.leistung-1 {
    background: url("../image/dinstleistung/lackierung.jpg");
}